# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.so

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Custom
lib
Makefile
.ccls-cache
.ccls
compile_commands.json
connect-pi.sh
cmake_install.cmake
CMakeCache.txt
matrix_minds
CMakeFiles
.vscode
*.json
_deps
*.bdf
*.ppm
